/* Reser CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, Arial, sans-serif;
}

#main {
    
}

#header {
    height: 46px;
    background-color: black;
}

#nav, .subnav  {
    list-style: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    color: white;
    position: relative;
}

#nav > li > a {
    color: white;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0px 24px;
    display: block;
}

#nav .subnav li:hover a,
#nav > li:hover > a {
    background-color: #ccc;
    color: black;
}

#nav li:hover .subnav {
    display: block;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    min-width: 160px;
    background-color: white;
}

#nav .subnav a {
    color: black;
    padding: 0px 16px;
    line-height: 38px;
}

#slider {

}

#content {
    
}

#footer {

}
